$color-clear: hsl(0, 0%, 95%);
$color1: hsl(31, 77%, 52%);
$color2: hsl(184, 100%, 22%);
$color3: hsl(179, 100%, 13%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}   

body {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 60vh;
}

.column {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sedans {
    background-color: $color1;
    border-radius: 10px 10px 0 0;

    button {
        color: $color1;
    }
}

.suvs {
    background-color: $color2;

    button {
        color: $color2;
    }
}

.luxury {
    background-color: $color3;
    border-radius: 0 0 10px 10px;

    button {
        color: $color3;
    }
}

h1 {
    color: $color-clear;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    margin: 35px 0;
    font-weight: bold;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 35px;
}

button {
    width: 154.6px;
    max-width: 90%;
    height: 3em;
    font-family: 'Lexend Deca', sans-serif;
    background-color: $color-clear;
    border: none;
    border-radius: 2em;

    margin-top: auto;
}

@media (min-width: 790px){
    .card {
        flex-direction: row;
        max-width: 864px;
    }

    .sedans {
        border-radius: 10px 0 0 10px;
    }

    .luxury {
        border-radius: 0 10px 10px 0;
    }
}